@media only screen and (min-width:322px) {
	img {
	content:url(https://user-images.githubusercontent.com/28358543/30766708-c10925b8-9fab-11e7-8d87-265810f241e6.png);
	}
}

@media only screen and (min-width:250px) {
	img {
	content:url(https://user-images.githubusercontent.com/28358543/30766751-0d8c13dc-9fac-11e7-80ab-70d18cfdd659.png);
	}
	body{
	background-image:url(https://user-images.githubusercontent.com/28358543/30766793-66e9393c-9fac-11e7-8d54-0d0c4240f4c2.gif);
}
}
@media only screen and (min-width:680px) {
	img{
	content:url(https://user-images.githubusercontent.com/28358543/30766739-f1b3e1e4-9fab-11e7-9a07-6ed12caf53e9.png);
	}
	body{
	background-image:url(https://user-images.githubusercontent.com/28358543/31319538-fc1700e2-ac19-11e7-835b-cdc2afc3d8c2.gif);
}
}
@media only screen and (min-width:600px) {
	div{
	content:url(https://user-images.githubusercontent.com/28358543/30766764-2ae6974a-9fac-11e7-9);
	}		
