@media only screen and (min-width:250px) {
	img {
	content:url(images/kitten-small.png);
	}
	body{
	background-image:url(images/gif-12.gif);
}
}
@media only screen and (min-width:680px) {
	img{
	content:url(images/kitten-medium.png);
	}
}

@media only screen and (min-width:900px) {
	img {
	content:url(https://user-images.githubusercontent.com/28358543/30766708-c10925b8-9fab-11e7-8d87-265810f241e6.png);
	}
}
@media only screen and (min-width:600px) {
	div{
	content:url(images/kttyloaf.gif);
	}
}
