@media only screen and (min-width:1400px) {
	.reg
	content:url(images/kitten-large.png);
	}

}
@media only screen and (min-width:1300px) {
	.reg
	content:url(images/kitten-large.png);
	}
}
@media only screen and (min-width:1000px) {
	.reg
	content:url(images/kitten-large.png);
	}
}

@media only screen and (min-width:900px) {
	.reg
	content:url(images/kitten-large.png);
	}
}
@media only screen and (min-width:900px) {
	.reg
	content:url(images/kitten-large.png);
	}
}
